h1{
    color: aqua ;
    background-color: rgb(29, 21, 21);
}

p{
    color: rgb(0, 76, 255);
    background-color: rgb(156, 207, 248);
}
button{
    color: rgb(250, 250, 172);
    background-color: rgb(52, 49, 49);
}
