h1{
    color:orange;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: rgb(27, 133, 255) double underline;
    text-transform: uppercase;
}
p{
    color: aliceblue;
    background-color: black;
}
button{
    color:white;
    background-color: blue;
}