.card {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgb(4, 34, 76);
    transition: 1s;
}
.desc {
    padding: 0 2px 0 2px;
}
img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover {
    box-shadow: 10px 10px 20px rgb(9, 49, 170);
}