div {
    background-color: rgb(119, 117, 255);
}

/* form {
  background-color: darkblue;  
  color: white;
} */

input {
    background-color: inherit;
}

button {
    background-color: inherit;
}

button :hover {
    background-color :red;
}