.container {

    width: 600px;
    height: 300px;
    background-color: rgb(19, 67, 189);

    display: grid;

    /* grid-template-rows: 50px 50px 50px;        /* Grid-Template */
     /*grid-template-columns: auto auto auto ; */      /* Grid-Template */
    
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);

    row-gap: 10px;       
    column-gap: 30px;
    grid-gap: 10px ;

    justify-items: start end;

}

.item {
    /* width: 100px;
    height: 50px; */
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;

}
.one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-column: 1/4; 
    grid-column: 1/span 3;
}

.two {
    grid-row: 1;
    grid-row-end: 3;
    grid-row: 1/3;
    grid: 1 / span 3;
}

