 /* h2 {
    display: inline;
    background-color: skyblue;
}
span {
    display: block;
    background-color: rgb(249, 159, 159);
}

div span {
    
    background-color: lightgreen;
    border: 2ps solid black; 
} */

div {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border:  2px solid black;
    margin: 5px;
    display: inline-block;
}

#third {
    display: none;
}